body{
    margin:0;
    background:#1e1e1e;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    width:90%;
    max-width:600px;
    margin:auto;
    margin-top:50px;
    text-align:center;
}

h1{
    margin-bottom:10px;
}

p{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    box-sizing:border-box;
    border:none;
}

button{
    width:100%;
    padding:12px;
    cursor:pointer;
    border:none;
    font-size:16px;
}

button:hover{
    opacity:0.9;
}

textarea{
    width:100%;
    height:80px;
    resize:none;
    box-sizing:border-box;
}

#resultado{
    margin-top:20px;
}

#mensagemCopia{
    color:#4CAF50;
    font-weight:bold;
    margin-top:10px;
}
